.g-item-hpcmp
  button.stop Stop
  button.start Start
  .g-item-hpcmp-container(style="display: flex;")
    .volume-chart(style="width: 600px;")
    .bar-chart(style="width: 200px;")
    .bar-chart-service
